<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP05_Yukelson_Steimberg.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/favicon.ico" alt="Icono" width="60px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-light-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Comenzar">Comenzar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Continuar">Continuar</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Creditos">Creditos</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Ranking">Ranking</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        @if (ViewBag.sesion == -1 || ViewBag.sesion == 0 || ViewBag.sesion == 1){
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                        } else{
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container no-margin">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-pausa" id="pausa" hidden></button>        
    <div class="modal fade" id="modal-pausa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Menu</h5>
                </div>
                <div class="modal-body">
                    <ul class="navbar-nav flex-grow-1 menu__link">
                        <li class="nav-item menu__item list-group-item active">
                            <a class="nav-link cat-ranking" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item menu__item list-group-item">
                            <a class="nav-link cat-ranking" asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial</a>
                        </li>
                        <li class="nav-item menu__item list-group-item">
                            <a class="nav-link cat-ranking" asp-area="" asp-controller="Home" asp-action="Comenzar">Comenzar</a>
                        </li>
                        <li class="nav-item menu__item list-group-item">
                            <a class="nav-link cat-ranking" asp-area="" asp-controller="Home" asp-action="Continuar">Continuar</a>
                        </li>
                        <li class="nav-item menu__item list-group-item">
                            <a class="nav-link cat-ranking" asp-area="" asp-controller="Home" asp-action="Creditos">Creditos</a>
                        </li>
                        <li class="nav-item menu__item list-group-item">
                            <a class="nav-link cat-ranking" asp-area="" asp-controller="Home" asp-action="Ranking">Ranking</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - Yukelson & Steimberg
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
