@{
    ViewData["Title"] = "Sala 2";
}

<div class="text-center sala2">
    <h1 class="title">S<span class="faulty-letter">a</span>la 2</h1>
    <p>Como se llaman los enemigos del juego?</p>
    <form action="~/Home/Habitacion" method="post" id="resolverForm">
        <input type="number" name="sala" value="2" hidden>
        <div class="text-center" >
            <input class= "form-check-input" type="radio" name="clave" value="Zombies">
            <label> Zombies</label><br>
            <input class= "form-check-input" type="radio" name="clave" value="Holomorfos">
            <label> Holomorfos</label><br>
            <input class= "form-check-input" type="radio" name="clave" value="Ganados">
            <label> Ganados</label>
        </div>
        <button class="btn btn-secondary" type="sumbit">Enviar</button>
    </form>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pista" hidden></button>        
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                </div>
                <div class="modal-body">
                    una barby es una..
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>