@{
    ViewData["Title"] = "Sala 6";
}
<div class="text-center sala6">
    <h1 class="title">S<span class="faulty-letter">a</span>la 6</h1>
    <p>Estas en busca de la tarjeta roja y el reloj de la abuela parece tener algo extraño..</p>
    <form action="~/Home/Habitacion" method="post" id="resolverForm">
        <input type="number" name="sala" value="6" hidden>
        <input type="time" id="appt" name="clave" min="00:00" max="23:59" required>
        <button class="btn btn-secondary" type="sumbit">Enviar</button>
    </form>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pista" hidden></button>        
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                </div>
                <div class="modal-body">
                    La hora de todos los relojes de la casa.. <br> *10:15*
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>