@{
    ViewData["Title"] = "Sala 9";
}

<div class="text-center sala9">
   <h1 class="title">S<span class="faulty-letter">a</span>la 9</h1>
    <p>Ella solo queria una familia</p>
    <form action="~/Home/Habitacion" method="post" id="resolverForm">
        <input type="number" name="sala" value="9" hidden>
        <input class="form-control input inputForm" type="text" name="clave" placeholder="Respuesta" autocomplete="off">
        <button hidden id="btnEnviar" class="btn btn-secondary" type="sumbit"></button>
        <div class="boton"><a class="submit"><span>Enviar</span></a></div>
    </form>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pista" hidden></button>        
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                </div>
                <div class="modal-body">
                    El nombre de la ¿niña?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if(@ViewBag.resultado == 0){
        Swal.fire({
            title: 'Error!',
            text: 'Recuerda que tienes la P para pedir una pista',
            icon: 'error',
            confirmButtonText: 'Reintentar'
        });
    } else if (@ViewBag.resultado == 1){
        Swal.fire({
            title: 'Correcto!',
            text: 'Muy bien, pero estaras listo/a para lo siguiente?',
            icon: 'success',
            confirmButtonText: 'Continuar'
        });
    }
</script>