@{
    ViewData["Title"] = "Sala 5";
}

<div class="text-center sala5">
   <h1 class="title">S<span class="faulty-letter">a</span>la 5</h1>
    <p>La contraseña del candado de la habitacion llena de globos</p>
    <form action="~/Home/Habitacion" method="post" id="resolverForm">
        <input type="number" name="sala" value="5" hidden>
        <input class="form-control input" type="text" name="clave" placeholder="Respuesta" autocomplete="off">
        <button class="btn btn-secondary" type="sumbit">Enviar</button>
    </form>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pista" hidden></button>        
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                </div>
                <div class="modal-body">
                    Lo que te escribe el payaso en el brazo.. <br> *loser*
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>