@{
    ViewData["Title"] = "Sala 7";
}

<div class="text-center sala7">
    <h1 class="title">S<span class="faulty-letter">a</span>la 7</h1>
    <p>Un amigable muñeco cabezon...</p>
    <form action="~/Home/Habitacion" method="post" id="resolverForm">
        <input type="number" name="sala" value="7" hidden>
        <div class="text-center">
            <input class= "form-check-input" type="radio" name="clave" value="mr-everywhere">
            <label> mr-everywhere</label><br>
            <input class= "form-check-input" type="radio" name="clave" value="castellanos mecanicos">
            <label> castellanos mecanicos</label><br>
            <input class= "form-check-input" type="radio" name="clave" value="lil-kendo">
            <label> lil-kendo</label>
        </div>
        <button hidden id="btnEnviar" class="btn btn-secondary" type="sumbit"></button>
        <div class="boton"><a class="submit"><span>Enviar</span></a></div>
    </form>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pista" hidden></button>        
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                </div>
                <div class="modal-body">
                  Estan en todos lados...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if(@ViewBag.resultado == 0){
        Swal.fire({
            title: 'Error!',
            text: 'Recuerda que tienes la P para pedir una pista',
            icon: 'error',
            confirmButtonText: 'Reintentar'
        });
    } else if (@ViewBag.resultado == 1){
        Swal.fire({
            title: 'Correcto!',
            text: 'Muy bien, pero estaras listo/a para lo siguiente?',
            icon: 'success',
            confirmButtonText: 'Continuar'
        });
    }
</script>