@{
    ViewData["Title"] = "Sala 1";
}

<div class="text-center sala1">
    <h1 class="title">S<span class="faulty-letter">a</span>la 1</h1>
    <p>Comienza la pelea con Jack! sera mejor que tomes la..</p>
    <form action="~/Home/Habitacion" method="post" id="resolverForm">
        <input type="number" name="sala" value="1" hidden>
        <input class="form-control input inputForm" type="text" name="clave" placeholder="Respuesta" autocomplete="off">
        <button hidden id="btnEnviar" class="btn btn-secondary" type="sumbit"></button>
        <div class="boton submit"><a><span>Enviar</span></a></div>
    </form>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-pista" id="pista" hidden></button>        
    <div class="modal fade" id="modal-pista" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                </div>
                <div class="modal-body">
                    Se usa comunmente para cosas como la poda de arboles...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>