@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center principal">
    <h1 class="display-4 title">¡B<span class="faulty-letter">i</span>evenido!</h1>
    <p>¡Bienvenidos a la sala de escape "Survival Mansion: Resident Evil 7"! Hoy nos adentramos en el inquietante mundo de la icónica saga de videojuegos Resident Evil. Prepárense para vivir una experiencia llena de misterio y suspenso, donde deberán desafiar sus habilidades y trabajar en equipo para desvelar los secretos ocultos en esta mansión abandonada.</p>
    <p>En esta sala de escape, encontrarán un entorno fielmente recreado, inspirado en los oscuros pasillos y las aterradoras habitaciones de la familia Baker. Su objetivo será desentrañar los enigmas que acechan en cada rincón, descubrir pistas ocultas y resolver acertijos para avanzar hacia la libertad.</p>
    <p>Recuerden, el tiempo está en su contra y cada decisión cuenta. Deberán utilizar su ingenio, cooperación y astucia para superar los desafíos y sobrevivir a los peligros que acechan en este macabro escenario.</p>
    <p>¡Que comience la aventura en "Survival Mansion: Resident Evil 7"! ¿Están preparados para enfrentar sus peores pesadillas y demostrar su valentía?</p>
    <div class="botones">
        <div class="boton" ><a href="~/Home/Tutorial"><span>Aprende a jugar</span></a></div>
        <div class="boton" ><a href="~/Home/Comenzar"><span>Comienza la aventura!</span></a></div>
    </div>
</div>


<script>
    if (@ViewBag.sesion == 2){
        Swal.fire({
            title: 'Perfecto!',
            text: "Te has logeado exitosamente",
            icon: 'success',
            confirmButtonText: 'Continuar'
        });
    } else if (@ViewBag.sesion == 3){
        Swal.fire({
            title: 'Adm',
            text: 'Ahora estas logeado como admin',
            icon: 'success',
            confirmButtonText: 'Reintentar'
        });
    }
</script>
