@{
    ViewData["Title"] = "Ranking";
}

<div class="creditos">
    <div class="text-center">
        <h1 class="display-4">Ranking</h1>
        <p>A continuacion, las personas que mas rapido y con menos errores resolvieron la sala</p>

        <h2>Estadisticas</h2>
        <ul class="list-group">
            <li id="1" class="creditos__item list-group-item active"><p>Nombre:</p> <p>v</p> <p>Tiempo:</p> <p>v</p> <p>Errores:</p><p>v</p></li>
            <li id="1" class="creditos__item list-group-item"><p>Nombre:</p> <p>v</p> <p>Tiempo:</p> <p>v</p> <p>Errores:</p><p>v</p></li>
            <li id="1" class="creditos__item list-group-item"><p>Nombre:</p> <p>v</p> <p>Tiempo:</p> <p>v</p> <p>Errores:</p><p>v</p></li>
        </ul>
        </ul>
    </div>
</div>