@{
    ViewData["Title"] = "Inicio";
}


    <div class="text-center principal">
        <h1 class="display-4">Tutorial</h1>
        <p>El tutorial es muy simple en realidad, simplemente vas a tener que prestar atencion a muchas cosas para saber por donde ir.</p>
        <p>Va a existir una forma de pedir una pista con la tecla <b>P</b> (probalo si queres) por si estas muy perdido y necesitas de una ayuda.</p>   
        <button class="btn btn-secondary"><a href="~/Home/Comenzar">A jugar!</a></button>


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="pista" hidden></button>        
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Pista</h5>
                    </div>
                    <div class="modal-body">
                        Lo quisiste probar eh? No confiaste
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
             </div>
        </div>
    </div>

