html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(231, 231, 231), 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(22, 21, 21);
  margin-bottom: 60px;
}

p,
h1,
h2 {
  color: #fff;
}

p {
  font-size: 24px;
  text-shadow: 4px 4px 4px rgba(1, 1, 1, 1);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
  -webkit-text-stroke: 0.8px black; /* Borde */
}

* {
  text-decoration: none;
}

/************************************************************************************************/

.navbar {
  color: rgb(231, 231, 231);
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  font-size: 17px;
  color: white;
}

.nav-link:hover {
  color: #f54d0b;
}

.tutorial {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial p span {
  cursor: pointer;
}

.container {
  color: #fff;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  padding-bottom: 1rem;
  background-color: rgb(22, 21, 21);
  color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
}

.list-group-item.active {
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(231, 231, 231);
  color: rgb(22, 21, 21);
}

.list-group-item.active p {
  color: rgb(22, 21, 21);
}

.modal-content {
  border: 1px solid rgb(53, 52, 52);
  background-color: rgb(22, 21, 21);
  color: rgb(231, 231, 231);
}

.modal-footer,
.modal-header {
  border: 1px solid rgb(53, 52, 52);
}

.no-margin {
  padding: 0;
  margin: 0 !important;
}

.inputForm {
  max-width: 30vw;
  margin-left: 35vw;
}

.btn-secondary {
  margin-top: 40px;
}

/*********************************************SALAS*********************************************/

.principal {
  background-image: url(/assets/images/puertaPrincipal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
}

.sala1 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/jack.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala2 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/bichos.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala3 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/contra.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala4 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/cena.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala5 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/lucas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala6 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/reloj.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala7 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/everywhere.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala8 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/morgue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sala9 {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/images/evelyn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.creditos {
  margin-left: 15vw;
  width: 70vw;
  height: 80vh;
  background-color: rgb(22, 21, 21);
  color: rgb(231, 231, 231);
}

/*********************************************TITULOS*********************************************/

.title {
  color: var(--glow-color);
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.5em;
  animation: text-flicker 3s linear infinite;
  text-shadow: 4px 4px 4px rgba(1, 1, 1, 1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.8px black;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

/*********************************************INPUTS*********************************************/

.input {
  background-color: #000000;
  height: 35px;
  padding: 14px;
  border-radius: 10px;
  color: #eeeeee;
  border: 3px solid #f6662e;
  box-shadow: 3px 3px 2px #f6662e;
}

.input:focus {
  background-color: #000000;
  color: #eeeeee;
  outline-color: #f54d0b;
  box-shadow: -3px -3px 25px #f54d0b;
  transition: 0.1s;
  transition-property: box-shadow;
  outline: none;
}

.form-control:focus {
  border-color: #f6662e;
}

.form-check-label {
  margin-left: 15px;
}
.form-check-input {
  border: 3px solid #f6662e;
  box-shadow: -3px -3px 25px #f54d0b;
}
.form-check-input:checked {
  background-color: #f54d0b;
  border-color: #f54d0b;
  outline: none;
}

#timePicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 200px;
  height: 200px;
  border: 1px solid #f54d0b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
  background-color: #000000;
}

.numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: rotate(30deg);
}

.number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transform-origin: center center;
  background-color: #000;
  color: #f6662e;
}

.number:hover {
  color: #000;
  background-color: #f54d0b;
  transition: 0.3s;
}

.number:nth-child(2) {
  transform: rotate(30deg) translateY(-80px);
}
.number:nth-child(3) {
  transform: rotate(60deg) translateY(-80px);
}
.number:nth-child(4) {
  transform: rotate(90deg) translateY(-75px);
}
.number:nth-child(5) {
  transform: rotate(120deg) translateY(-80px);
}
.number:nth-child(6) {
  transform: rotate(150deg) translateY(-80px);
}
.number:nth-child(7) {
  transform: rotate(180deg) translateY(-80px);
}
.number:nth-child(8) {
  transform: rotate(210deg) translateY(-80px);
}
.number:nth-child(9) {
  transform: rotate(240deg) translateY(-80px);
}
.number:nth-child(10) {
  transform: rotate(270deg) translateY(-80px);
}
.number:nth-child(11) {
  transform: rotate(300deg) translateY(-80px);
}
.number:nth-child(12) {
  transform: rotate(330deg) translateY(-80px);
}
.number:nth-child(1) {
  transform: rotate(0deg) translateY(-80px);
}

.arrow {
  position: absolute;
  width: 3px;
  height: 55px;
  background-color: #f54d0b;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
  left: calc(50% - 1.5px); /* Ajuste horizontal para centrar */
}

.arrow-hour {
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  top: calc(50% - 30px); /* Ajuste vertical para centrar */
}

.arrow-minute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  top: calc(50% - 35px); /* Ajuste vertical para centrar */
}

/*********************************************EL BOTON MAS FACHERO DEL MUNDO*********************************************/

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.boton a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #f54d0b;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.5s;
  transition-delay: 0s;
}

.boton a:hover {
  transition-delay: 1s;
  color: black !important;
  box-shadow: 0 0 10px #f54d0b, 0 0 20px #f54d0b, 0 0 40px #f54d0b,
    0 0 80px #f54d0b, 0 0 160px #f54d0b;
}

.boton a span {
  position: relative;
  z-index: 100;
}

.boton a:nth-child(2) {
  filter: hue-rotate(80deg);
}
.boton a::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #f54d0b;
  box-shadow: 5px -8px #f54d0b, 5px 8px #f54d0b;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.boton a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #f54d0b, 5px 0 0 #f54d0b;
  transition-delay: 0s, 0s, 0.5s, 1s;
}

.boton a::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #f54d0b;
  box-shadow: -5px -8px #f54d0b, -5px 8px #f54d0b;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.boton a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #f54d0b, -5px 0 0 #f54d0b;
  transition-delay: 0s, 0s, 0.5s, 1s;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}
